/*
    CODERHOUSE
    Curso: Javascript
    Profesor: Nicolas Martini
    Tutor: German Cuevas
    Alumna: Victoria Yen
    Entrega: N°5  
*/

body {
    background-image: url("fondo.jpg");
    background-repeat:round;
}