/*
CODERHOUSE
Curso: Javascript
Profesor: Nicolas Martini
Tutor: German Cuevas
Alumna: Victoria Yen
Entrega Final
*/

*{ margin:0; padding:0; }

/*estilos body general*/

body {
        background-image: url("img/sprinkles.jpg");
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
}

h1 {
        font-family: Concert One;
        color: rgb(255, 145, 222);
        font-size: 4rem ;
        margin-top: 5%;
       
}

h2 {
        font-family: Concert One;
        color: rgb(243, 158, 79);
        font-size: 3rem ;
        margin: 3%;
        
        
}

.contenedor {
        margin-top: 5%;
        background-color: rgb(161, 252, 184); 
        display: flex;  
        flex-direction: column;    
        align-items: center;
        width: 70%;
        
}

p {
        font-family: Yellowtail;
        color: rgb(255, 157, 44);
        font-size: 2rem ;
        width: 85%;  
        margin-top: 2%;      
}

.italic {
        font-style: italic ;
        font-family:Concert One ;
}

#boton {
        padding: 5px;
        font-family: Concert One;
        color: lightcoral;
        font-size: 1rem;
        margin-top: 2px;
        margin-bottom: 2px;
}

#botonF {
        padding: 5px;
        font-family: Concert One;
        background-color: rgb(115, 159, 255);
        color: ivory;
        font-size: 1rem;
        margin-top: 2%;
        margin-bottom: 2%;
}
#botonR {
        padding: 5px;
        font-family: Concert One;
        background-color: rgb(255, 140, 87);
        color: ivory;
        font-size: 1rem;
        margin-top: 2%;
        margin-bottom: 2%;
}

.botonJ {
        padding: 8px;
        font-family: Concert One;
        background-color: rgb(255, 88, 171);
        color: rgb(255, 205, 139);
        font-size: 1rem;
        margin-top: 2%;
        margin-bottom: 2%;

}

/*estilos fomulario e input*/

form {
        text-align: center;
        margin: 10px;
        padding: 10px;
        width: 60%;
        height:50%;
               
}

fieldset{
        margin: 10px 0;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.contenedorF div{
        background-color: lightcyan;
        padding: 8px;
        margin-top: 2px;
        margin-bottom: 2px;

}

#caja {
        padding: 10px;
        background-color: lightcoral;
        color: lightcyan;
        font-size: 1.5rem;
        font-family: Kalam;
}

#selectCake {
        font-size: 1.8rem;
        font-family: Kalam;
        margin-left: 30%;
        
}


footer {
        background-color: rgb(242, 170, 252);
        font-family: Concert One;
        color:mediumpurple;
        width: 80%;
        display: block;
        text-align: center;
        position: relative;
        margin-top: 5%;
        
}

.bounce {
        -webkit-animation: bounce-top 0.9s both;
        animation: bounce-top 0.9s both;
}

        
/*ANIMACION*/
@-webkit-keyframes bounce-top {
        0% {
                -webkit-transform: translateY(-45px);
                transform: translateY(-45px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 1;
        }
        24% {
                opacity: 1;
        }
        40% {
                -webkit-transform: translateY(-24px);
                transform: translateY(-24px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        65% {
                -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        82% {
                -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        93% {
                -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        25%,
        55%,
        75%,
        87% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }
}
@keyframes bounce-top {
        0% {
                -webkit-transform: translateY(-45px);
                transform: translateY(-45px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 1;
        }
        24% {
                opacity: 1;
        }
        40% {
                -webkit-transform: translateY(-24px);
                transform: translateY(-24px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        65% {
                -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        82% {
                -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        93% {
                -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        25%,
        55%,
        75%,
        87% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }
}
/*FIN ANIMACION*/